#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

h1 {
  position: relative;
  z-index: 2;
  color: #f9f6ee;
  width: 350px;
  margin: 3rem auto;
  font-size: 3rem;
  opacity: 0;
}

body,
html {
  font-family: "rocko", sans-serif;
}

@font-face {
  font-family: "rocko";
  src: url("/font/Rocko_FLF.ttf") format("truetype");
}
